$font-principale: "marianneregular", sans-serif;

$couleur-texte: #333;
$couleur-fond-hero: #f3f8fc;

$hauteur-hero: 240px;
$largeur-logo-min: 280px;

// base.scss
$menu-link-color: #777;
$menu-border-color: #E0E0E0;
$menu-font-size: 1.1em;
$menu-transition: height 0.35s ease;