// =====================================================
// VARIABLES
// =====================================================
@use "variables" as vars;
@use "mixins" as *;


// =====================================================
// HERO
// =====================================================

#hero {
    margin-left: 0;
    margin-bottom: 1em;

    font-family: vars.$font-principale;
    font-size: 1rem;
    line-height: 1.42857143em;
    color: vars.$couleur-texte;

    -webkit-text-size-adjust: 100%;
}


// =====================================================
// BANDEAU
// =====================================================

.bandeau_complet {
    position: relative;

    display: flex;

    width: 100%;
    height: vars.$hauteur-hero;

    overflow: hidden;

    background-color: vars.$couleur-fond-hero;

    font-family: vars.$font-principale;
    font-size: 1rem;
    line-height: 1.42857143em;
    color: vars.$couleur-texte;

    -webkit-text-size-adjust: 100%;
}


// =====================================================
// LOGO
// =====================================================

.herologo {
    min-width: vars.$largeur-logo-min;
    height: 100%;

    overflow: hidden;

    background-image: url("../assets/composite_camus.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    font-family: vars.$font-principale;
    font-size: 1rem;
    line-height: 1.42857143em;
    color: vars.$couleur-texte;

    -webkit-text-size-adjust: 100%;
}

// =====================================================
// heroinfos
// =====================================================

.heroinfos {
    padding: 0 2em 3em;

    font-family: vars.$font-principale;
    font-size: 1rem;
    line-height: 1.42857143em;
    color: #666;

    -webkit-text-size-adjust: 100%;

    .wellcom {
        font-size: 2rem;
    }
}


// =====================================================
// HEADER
// =====================================================

.logo_acad {
    padding: 10px;
}

.title_zone {
    padding: 20px;
    text-align: center;

    #site_title {
        font-size: 2.2rem;
        font-weight: bold;
        color: vars.$couleur-texte;
        margin: 0;
    }

    #site_sub {
        font-size: 1.7rem;
        color: vars.$couleur-texte;
    }
}
// main
.main {
    display: flex;
    align-items: flex-start;
    gap: 30px;

    .side {
        order: 2;
        width: 300px;
        flex-shrink: 0;
    }

    .content {
        order: 1;
        flex: 1;
    }
}

// footer

.footer {
    text-align: center;
    background-color: #45009ee5;

    .copy {
    }

    .info {
    }
}

// =====================================================
// RESPONSIVE
// =====================================================

@media (max-width: 768px) {
    .bandeau_complet {
        height: 180px;
    }

    .herologo {
        min-width: 200px;
    }
}

@media (max-width: 480px) {
    .bandeau_complet {
        height: 150px;
    }

    .herologo {
        min-width: 100%;
    }
}

@media (max-width: 1000px) {
    .heroinfo {
        .welcom {
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 800px) {
    .main {
        flex-direction: column;

        .content,
        .side {
            width: 100%;
        }
    }
}