#hero {
    -webkit-text-size-adjust: 100%;
    --mediabox-sidebar-width: 25rem;
    --mediabox-sidebar-height: calc(5rem + 20%);
    --mediabox-sidebar-close-size: 2rem;
    --minical-border-color: #ccc;
    --minical-active-bg: #f3d17a;
    --minical-active-color: #333;
    --minical-active-border-color: transparent;
    --minical-active-bg-hover: #deba5d;
    --minical-border-dark-color: #999;
    --minical-day-disabled-color: #999;
    --minical-calendrier-couleur6-bg: #DBB8DC;
    --minical-calendrier-couleur6-bg-hover: #cd9fce;
    --minical-calendrier-couleur6-color: #636;
    line-height: 1.42857143em;
    font-family: 'marianneregular';
    font-size: 1rem;
    color: #333;
    margin-left: 0px;
    margin-bottom: 1em;
}

.bandeau_complet {
    -webkit-text-size-adjust: 100%;
    --mediabox-sidebar-width: 25rem;
    --mediabox-sidebar-height: calc(5rem + 20%);
    --mediabox-sidebar-close-size: 2rem;
    --minical-border-color: #ccc;
    --minical-active-bg: #f3d17a;
    --minical-active-color: #333;
    --minical-active-border-color: transparent;
    --minical-active-bg-hover: #deba5d;
    --minical-border-dark-color: #999;
    --minical-day-disabled-color: #999;
    --minical-calendrier-couleur6-bg: #DBB8DC;
    --minical-calendrier-couleur6-bg-hover: #cd9fce;
    --minical-calendrier-couleur6-color: #636;
    line-height: 1.42857143em;
    font-family: 'marianneregular';
    font-size: 1rem;
    color: #333;
    position: relative;
    overflow: hidden;
    height: 240px;
    display: flex;
    background-color: #f3f8fc;
}

.herologo {
    -webkit-text-size-adjust: 100%;
    --mediabox-sidebar-width: 25rem;
    --mediabox-sidebar-height: calc(5rem + 20%);
    --mediabox-sidebar-close-size: 2rem;
    --minical-border-color: #ccc;
    --minical-active-bg: #f3d17a;
    --minical-active-color: #333;
    --minical-active-border-color: transparent;
    --minical-active-bg-hover: #deba5d;
    --minical-border-dark-color: #999;
    --minical-day-disabled-color: #999;
    --minical-calendrier-couleur6-bg: #DBB8DC;
    --minical-calendrier-couleur6-bg-hover: #cd9fce;
    --minical-calendrier-couleur6-color: #636;
    line-height: 1.42857143em;
    font-family: 'marianneregular';
    font-size: 1rem;
    color: #333;
    min-width: 280px;
    height: 50%;
    right: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    background-image: url('https://clg-camus-bois-colombes.ac-versailles.fr/IMG/logo/composite_camus.png?1784107657');
    min-width: 280px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    font-family: 'marianneregular';
    font-size: 1rem;
    color: #333;
    line-height: 1.42857143em;
    --minical-border-color: #ccc;
    --minical-active-bg: #f3d17a;
    --minical-active-color: #333;
    --minical-active-border-color: transparent;
    --minical-active-bg-hover: #deba5d;
    --minical-border-dark-color: #999;
    --minical-day-disabled-color: #999;
    --minical-calendrier-couleur6-bg: #DBB8DC;
    --minical-calendrier-couleur6-bg-hover: #cd9fce;
    --minical-calendrier-couleur6-color: #636;
    --mediabox-sidebar-width: 25rem;
    --mediabox-sidebar-height: calc(5rem + 20%);
    --mediabox-sidebar-close-size: 2rem;
    -webkit-text-size-adjust: 100%;
}

.heroinfos {
  padding: 3em 2em;
  -webkit-text-size-adjust: 100%;
  --mediabox-sidebar-width: 25rem;
  --mediabox-sidebar-height: calc(5rem + 20%);
  --mediabox-sidebar-close-size: 2rem;
  --minical-border-color: #ccc;
  --minical-active-bg: #f3d17a;
  --minical-active-color: #333;
  --minical-active-border-color: transparent;
  --minical-active-bg-hover: #deba5d;
  --minical-border-dark-color: #999;
  --minical-day-disabled-color: #999;
  --minical-calendrier-couleur6-bg: #DBB8DC;
  --minical-calendrier-couleur6-bg-hover: #cd9fce;
  --minical-calendrier-couleur6-color: #636;
  line-height: 1.42857143em;
  font-family: "marianneregular";
  font-size: 1rem;
  color: #666;
}                            

.heroinfos { 
    padding: 0 2em 3em 2em; 
    -webkit-text-size-adjust: 100%; 
    --mediabox-sidebar-width: 25rem; 
    --mediabox-sidebar-height: calc(5rem + 20%); 
    --mediabox-sidebar-close-size: 2rem; 
    --minical-border-color: #ccc; 
    --minical-active-bg: #f3d17a; 
    --minical-active-color: #333; 
    --minical-active-border-color: transparent; 
    --minical-active-bg-hover: #deba5d; 
    --minical-border-dark-color: #999; 
    --minical-day-disabled-color: #999; 
    --minical-calendrier-couleur6-bg: #DBB8DC; 
    --minical-calendrier-couleur6-bg-hover: #cd9fce; 
    --minical-calendrier-couleur6-color: #636; 
    line-height: 1.42857143em; 
    font-family: 'marianneregular'; 
    font-size: 1rem; 
    color: #666; 
}
.heroinfos .wellcom { 
    font-size: 2rem;
    font-weight: bold;
}