<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
</head>
<body>
        <div class="globale">
            <div class="input-append">
            <input type="search" class="search text search-query" name="recherche" id="recherche" accesskey="4" autocapitalize="off" autocorrect="off">
            <button type="submit" class="btn " title="Rechercher"><i class="icon-search"></i></button>
        </div>

        <menu class="menu vertical-menu">
            <h2>Menu</h2>

            <ul class="panel-group well rubriques" id="accordion">

                {% for item in menu_items %}
                    {% include "application/menu_item.html" with item=item %}
                {% endfor %}

            </ul>
        </menu>
        
    </div>
</body>
</html>