{% extends "application/base.html" %}
{% load static %}

{% block head %}
    <title>Rubrique {{ element.nom }}</title>
    <link rel="stylesheet" href="{% static 'application/style.css' %}">
    <link rel="stylesheet" href="{% static 'application/css/side/menu.css' %}">
    <link rel="stylesheet" href="{% static 'application/css/side/diapo.css' %}">
    <link rel="stylesheet" href="{% static 'application/css/rubrique.css' %}">
{% endblock %}


{% block hero %}
<div class="rubrique-page">

    <!-- FIL D'ARIANE -->

    <div class="breadcrumb">

        <a href="/">Accueil</a>

        <span> &gt; </span>

        <span class="breadcrumb-current">
            {{ element.nom }}
        </span>

    </div>


    <!-- TITRE -->

    <h1 class="rubrique-title">
        {{ element.nom }}
    </h1>


    <!-- ENFANTS -->

    {% if enfants %}

        <section class="rubrique-children">

            <h2>

                <span class="rubrique-icon">
                    ♟
                </span>

                {% if type_element == "rubrique" %}

                    SOUS-RUBRIQUES

                {% elif type_element == "sous-rubrique" %}

                    ÉLÉMENTS

                {% elif type_element == "élément" %}

                    SOUS-ÉLÉMENTS

                {% endif %}

            </h2>


            <ul class="rubrique-list">

                {% for enfant in enfants %}

                    <li>

                        <a href="{% url 'spip' enfant.id %}">
                            {{ enfant.nom }}
                        </a>

                    </li>

                {% endfor %}

            </ul>

        </section>

    {% endif %}

</div>
{% endblock %}

{% block content %}

<div class="rubrique-page">

    <div class="breadcrumb">
        <a href="/">Accueil</a>
        <span> &gt; </span>
        <span class="breadcrumb-current">
            {{ element.nom }}
        </span>
    </div>


    <h1 class="rubrique-title">
        {{ element.nom }}
    </h1>


    {% if structure.children %}

        <section class="rubrique-children">

            {% if type_element == "rubrique" %}
                <h2>SOUS-RUBRIQUES</h2>

            {% elif type_element == "sous-rubrique" %}
                <h2>ÉLÉMENTS</h2>

            {% elif type_element == "élément" %}
                <h2>SOUS-ÉLÉMENTS</h2>
            {% endif %}


            <ul class="rubrique-list">

                {% for enfant in structure.children %}

                    <li>
                        <a href="{% url 'spip' enfant.id %}">
                            {{ enfant.nom }}
                        </a>
                    </li>

                {% endfor %}

            </ul>

        </section>

    {% endif %}


    {% if structure.content %}

        <section class="rubrique-content">

            {% for item in structure.content %}

                <article class="content-item">

                    <h2 class="content-title">
                        {{ item.title }}
                    </h2>


                    {% if item.img %}

                        <div class="content-image">

                            <img
                                src="{{ item.img }}"
                                alt="{{ item.title }}"
                            >

                        </div>

                    {% endif %}


                    {% if item.content %}

                        <div class="content-text">
                            {{ item.content|safe }}
                        </div>

                    {% endif %}


                    {% if item.lien %}

                        <div class="content-link">

                            <a href="{{ item.lien }}">
                                En savoir plus
                            </a>

                        </div>

                    {% endif %}


                    <!-- {% if user.is_staff %} -->

                        <div class="content-admin">

                            <a
                                href="{% url 'content_delete' item.id %}"
                                class="content-delete-button"
                            >
                                Supprimer
                            </a>

                        </div>

                    <!-- {% endif %} -->

                </article>

            {% endfor %}

        </section>

    {% endif %}

</div>

{% endblock %}